body, html, #follow {
    margin:0;
    width:100%;
    height: 100%;
    background:radial-gradient(circle at center, #2a002a,#000);
    overflow:hidden;
    color:#fff;
    font-family:'Monserrat', sans-serif;
    text-align: center;
}
#follow h1 {
    font-size: 60px;
    line-height: 80px;
    margin-top: 8vh;
    text-shadow: 0 0 5px #fff, 0 0 20px #f0f, 0 0 30px #f0f;
}
#cursor{
    cursor: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}