body, html, #follow {
    margin:0;
    width:100%;
    height: 100%;
    background:radial-gradient(circle at center, #2a002a,#000);
    overflow:hidden;
    color:#fff;
    font-family:'Monserrat', sans-serif;
    text-align: center;
}
#follow h1 {
    font-size: 60px;
    line-height: 80px;
    margin-top: 6vh;
    text-shadow: 0 0 5px #fff, 0 0 20px rgb(255, 0, 255), 0 0 30px #f0f;
}
#follow h2 {
    font-size: 30px;
    line-height: 40px;
    margin-top: 30vh;
    text-shadow: 0 0 5px #fff, 0 0 20px rgb(255, 0, 255), 0 0 30px #f0f;
}
#cursor{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
#heart {
    margin-top: -65vh;
}
canvas{
    display: block;
}
#playMusic {
  background: linear-gradient(90deg, #ff00ff, #ff66cc);
  border: none;
  color: white;
  font-size: 1.2em;
  padding: 12px 30px;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 0 15px #ff00ff;
  transition: 0.3s;
  margin-top: 20px;
}

#playMusic:hover {
  transform: scale(1.1);
  box-shadow: 0 0 25px #ff66ff;
}
